<div class="row">
	<div class="col-xs-8">
		<h1>New Reply</h1>

		<%= render @answer.answer if @answer.answer%>
		<div class="replyToAnswer"></div>
		<%= render 'form', answer: @answer %>
	</div>
	<div class="col-xs-4">
		<%= link_to 'Back to the Question', question_path(@answer.question), class: "btn btn-warning"%>
	</div>
</div>
